<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExtendedGeoCoordinate" version="3.2.0" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net471" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.0" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net471" version="1.0.0" targetFramework="net471" developmentDependency="true" />
  <package id="SharpGIS.NmeaParser" version="2.2.2" targetFramework="net471" />
  <package id="SmartExtensionMethods" version="3.0.2" targetFramework="net471" />
</packages>